.App {
  text-align: center;
  align-items: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#row-hover {
  position:fixed;
  z-index: 50;
  color: white;
  background-color: rgb(98, 98, 98);
  border-radius: 10px;
  padding-top: 2px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 2px;

  visibility: visible;
  box-sizing: content-box;
}

#row-hover > img {
  object-fit: "contain";
  height: 40vh;
}

.table-wrapper {
  align-self: center;
  width: 80%;
  border: solid 1px black;
  height: 50vh;
  overflow: scroll;
}

table { 
  font-size:small;
  width: 100%;
  border-collapse: collapse; 
}

/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  position:sticky; 
  top: 0;
  background: #333; 
  color: white; 
  font-weight: bold; 
  cursor: s-resize;
  background-repeat: no-repeat;
  background-position: 3% center;
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

th.des:after {
    content: "\21E9";
  }
  
  th.aes:after {
    content: "\21E7";
  }

.navbar{
  padding-bottom: 1000px;
}

#chart-title{
  text-align:center;
}

.bar-chart{
  width: 50%;
  height: 50%;
}

